@font-face{
  font-family: 'PingFangSC-Semibold';
  src: url('../font/PingFang-SC-Semibold.ttf');
}
body{
	font-family: 'PingFangSC-Semibold';
	padding: 0;
	margin: 0;
	font-size: 62.5%;
}
.ui-panel{
	justify-content: flex-start;
  width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 0.3rem;
}
.ui-panel-header{
    text-align: center;
    vertical-align: middle;
    height: 100%;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 5.85rem;
    font-size: 3.6rem;
	  color: #161616;
		letter-spacing: 1rem;
}
.ui-panel-header .update-time{
		font-size: 1.2rem;
		font-weight: normal;
    float: right;
    line-height: 5.85rem;
    letter-spacing: 0;
    padding-right: 0.5rem;
    color: #161616;
}
.ui-panel-body{
	width: 100%;
}
.null-padding{
	padding: 0 !important;
}
.ui-table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}
.ui-table thead{
	border-bottom: 0.2rem solid #C7C7CB;

}
.ui-table thead tr th{
		border: none;
    height: 2.2rem;
    line-height: 2.2rem;
    font-weight: bold;
		font-size: 1.4rem;
		color: #161616;
		text-align: left;
		padding: 0 0.2rem;
}
.ui-table tbody tr.even{
	background: rgba(240,240,246,0.60);
}
.ui-table tbody td{
	text-align: left;
    font-weight: bold;
	box-sizing: border-box;
    border-bottom: 1px solid #efefef;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}
/* --------- 单元格样式 -------*/
.ui-td-title{
	font-size: 2.1rem;
	color: #161616;
	text-align: left;
	line-height: 2.1rem;
}
.ui-td-wrap{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1.5rem 0 0.6rem 0.5rem;
}
.ui-td-wrap.ai-center{
	align-items: center;
}
.ui-td-wrap .ui-td-item{
	display: inline-flex;
    margin-bottom: 1rem;
}
.ui-td-wrap .ui-td-item .ui-td-summary{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ui-td-wrap .ui-td-item .fz-max{
	font-size: 1.4rem;
	line-height: 1.4rem;
	color: #161616;
}
.ui-td-wrap .ui-td-item .fz-middle{
	font-size: 1.6rem;
	line-height: 1.6rem;
	color: #161616;
}
.ui-td-wrap .ui-td-item .fz-min{
	font-size: 0.8rem;
    line-height: 0.8rem;
	color: #424242;
	padding: 0 0 0 0.2rem;
}
.ui-td-wrap .ui-td-item .fz-small{
	font-size: 0.6rem;
	line-height: 0.6rem;
	color: #B4B4BD;
	padding: 0 0 0 0.2rem;
}
.h-48{
	height: 4.8rem !important;
}
.h-60{
	height: 6rem !important;
}
.h-80{
	height: 8rem !important;
}
/* --------- 标识颜色 ------*/
.ui-level-normal{
	color: #161616 !important; /* 正常 */
}
.ui-level-notice{
	color: #FF9900 !important; /* 预警 */
}
.ui-level-delay{
	color: #FE3824 !important; /* 紧急 */
}