@font-face{
  font-family: 'PingFangSC-Semibold';
  src: url('../font/PingFang-SC-Semibold.ttf');
}
body{
	font-family: 'PingFangSC-Semibold';
	padding: 0;
	margin: 0;
	font-size: 62.5%; /* 1rem = 16px */
}
.text-left{
	text-align: left !important;
}
.text-center{
	text-align: center !important;
}
.ui-panel{
	justify-content: flex-start;
  width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 0.3rem;
}
.ui-panel-header{
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    line-height: 3.66rem;
    font-size: 2.25rem;
    color: #161616;
    letter-spacing: 0.63rem;
}
.ui-panel-header .update-time{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0.89rem;
    font-size: 1.25rem;
    line-height: 1.88rem;
    letter-spacing: 0;
    padding-right: 0.5rem;
    color: #626266;
}
.ui-panel-body{
	width: 100%;
}
.null-padding{
	padding: 0 !important;
}
.ui-table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}
.ui-table thead{
	border-bottom: 0.13rem solid #C7C7CB;

}
.ui-table thead tr th{
    border: none;
    height: 2.2rem;
    line-height: 1.38rem;
    vertical-align: middle;
    font-size: 1.25rem;
    color: #161616;
    text-align: center;
    padding: 0 0.5rem;
}
.ui-table tbody tr.even{
	background: rgba(240,240,246,0.60);
}
.ui-table tbody td{
		text-align: left;
		box-sizing: border-box;
    border-bottom: 1px solid #efefef;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}
/* --------- 单元格样式 -------*/
.ui-td-title{
	font-size: 2.1rem;
	color: #161616;
	text-align: left;
	line-height: 2.1rem;
}
.ui-td-wrap{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 1.6rem 0 0.5rem 0.5rem;
}
.ui-td-wrap.ai-left{
	align-items: flex-start;
}
.ui-td-wrap.ai-center{
	align-items: center;
}
.ui-td-wrap .ui-td-item{
	display: inline-flex;
	margin-bottom: 0.5rem;
}
.ui-td-wrap .ui-td-item .ui-td-summary{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.ui-td-wrap .ui-td-item .fz-max{
	font-size: 2rem;
	line-height: 2rem;
	font-weight: bold;
	color: #161616;
}
.ui-td-wrap .ui-td-item .fz-max-extra-lh{
	line-height: 4.5rem !important;
}
.ui-td-wrap .ui-td-item .fz-middle{
	font-size: 1.75rem;
	line-height: 2rem;
	font-weight: bold;
	color: #161616;
}
.ui-td-wrap .ui-td-item .fz-min{
	font-size: 1.25rem;
	line-height: 2rem;
	color: #0A0A0A;
	padding: 0 0 0 0.2rem;
}
.ui-td-wrap .ui-td-item .fz-min-middle-color{
	color: #161616 !important;
}
.ui-td-wrap .ui-td-item .fz-small{
	font-size: 1.13rem;
	line-height: 1.25rem;
	color: #626266;
	padding: 0 0 0 0.2rem;
}
.ui-td-wrap .ui-td-item .fz-mini{
	font-size: 1rem;
	line-height: 1.25rem;
	color: #424242;
	padding: 0 0 0 0.2rem;
}
.h-48{
	height: 4.8rem !important;
}
.h-60{
	height: 6rem !important;
}
.h-80{
	height: 8rem !important;
}
/* --------- 标识颜色 ------*/
.ui-level-normal{
	color: #161616 !important; /* 正常 */
}
.ui-level-notice{
	color: #FF9900 !important; /* 预警 */
}
.ui-level-delay{
	color: #FE3824 !important; /* 紧急 */
}